{% extends "_base.html" %}
{% block content %}
<h1>Étterem–Étel infók</h1>

{% if user.is_authenticated and user.is_staff %}
  <p><a href="{% url 'compare:info_create' %}">+ Új rekord</a></p>
{% endif %}

<table>
  <tr>
    <th>Étel</th>
    <th>Étterem</th>
    <th>Ár</th>
    <th>Száll. idő</th>
    <th>Felhasználói értékelések</th>
    <th>Promóció</th>
    {% if user.is_authenticated and user.is_staff %}<th>Műveletek</th>{% endif %}
  </tr>
  {% for o in object_list %}
    <tr>
      <td><a href="{% url 'compare:info_detail' o.pk %}">{{ o.etel.nev }}</a></td>
      <td>{{ o.etterem.nev }}</td>
      <td>{{ o.ar }} Ft</td>
      <td>{{ o.szallitas_ido }}</td>
      <td>{{ o.felhaszn_ertekelesek|default:"–" }}</td>
      <td>{{ o.promocio|default:"–" }}</td>
      {% if user.is_authenticated and user.is_staff %}
        <td>
          <a href="{% url 'compare:info_update' o.pk %}">Szerk.</a> |
          <a href="{% url 'compare:info_delete' o.pk %}">Törlés</a>
        </td>
      {% endif %}
    </tr>
  {% empty %}
    <tr>
      <td colspan="{% if user.is_authenticated and user.is_staff %}7{% else %}6{% endif %}">Nincs adat.</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
