{% extends "_base.html" %}
{% block content %}
<h1>Mentések</h1>

{% if user.is_authenticated and user.is_staff %}
  <p><a href="{% url 'compare:mentes_create' %}">+ Új mentés</a></p>
{% endif %}

<ul>
  {% for o in object_list %}
    <li>
      {{ o.felhasznalo.username }} → {{ o.etel.nev }} ({{ o.letrehozva }})
      – <a href="{% url 'compare:mentes_detail' o.pk %}">Megnyit</a>
      {% if user.is_authenticated and user.is_staff %}
        | <a href="{% url 'compare:mentes_update' o.pk %}">Szerk.</a>
        | <a href="{% url 'compare:mentes_delete' o.pk %}">Törlés</a>
      {% endif %}
    </li>
  {% empty %}
    <li>Nincs adat.</li>
  {% endfor %}
</ul>
{% endblock %}
