{% extends "_base.html" %}
{% block content %}
<h1>Rejtett költségek</h1>

{% if user.is_authenticated and user.is_staff %}
  <p><a href="{% url 'billing:koltseg_create' %}">+ Új költség</a></p>
{% endif %}

<table>
  <tr>
    <th>Étel / Platform</th>
    <th>Típus</th>
    <th>Összeg</th>
    {% if user.is_authenticated and user.is_staff %}<th>Műveletek</th>{% endif %}
  </tr>
  {% for o in object_list %}
    <tr>
      <td>
        {% if o.etel %}
          <a href="{% url 'catalog:etel_detail' o.etel.pk %}">{{ o.etel.nev }}</a>
          <small style="color:#666">(Ételhez rendelt költség)</small>
        {% elif o.etterem %}
          <a href="{% url 'billing:koltseg_detail' o.pk %}">{{ o.etterem.nev }}</a>
          &nbsp;<small style="color:#666">({{ o.etterem.get_platform_display }})</small>
        {% else %}
          <span style="font-weight:600">Platform: {{ o.get_platform_display }}</span>
        {% endif %}
      </td>
      <td>{{ o.get_koltseg_tipus_display }}</td>
      <td>{{ o.osszeg }} Ft</td>
      {% if user.is_authenticated and user.is_staff %}
        <td>
          <a href="{% url 'billing:koltseg_update' o.pk %}">Szerk.</a> |
          <a href="{% url 'billing:koltseg_delete' o.pk %}">Törlés</a>
        </td>
      {% endif %}
    </tr>
  {% empty %}
    <tr>
      <td colspan="{% if user.is_authenticated and user.is_staff %}4{% else %}3{% endif %}">
        Nincs adat.
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
