{% extends "_base.html" %}
{% block content %}
<h1>Éttermek</h1>

{% if user.is_authenticated and user.is_staff %}
  <p><a href="{% url 'catalog:etterem_create' %}">+ Új étterem</a></p>
{% endif %}

<table>
  <tr>
    <th>Név</th>
    <th>Cím</th>
    <th>Platform</th>
    {% if user.is_authenticated and user.is_staff %}<th>Műveletek</th>{% endif %}
  </tr>
  {% for o in object_list %}
    <tr>
      <td><a href="{% url 'catalog:etterem_detail' o.pk %}">{{ o.nev }}</a></td>
      <td>{{ o.cim }}</td>
      <td>{{ o.get_platform_display }}</td>
      {% if user.is_authenticated and user.is_staff %}
        <td>
          <a href="{% url 'catalog:etterem_update' o.pk %}">Szerk.</a> |
          <a href="{% url 'catalog:etterem_delete' o.pk %}">Törlés</a>
        </td>
      {% endif %}
    </tr>
  {% empty %}
    <tr>
      <td colspan="{% if user.is_authenticated and user.is_staff %}4{% else %}3{% endif %}">
        Nincs adat.
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
