{% extends "_base.html" %}
{% block content %}
<h1>Éttermek</h1>

{% if user.is_authenticated and user.is_staff %}
  <p><a href="{% url 'catalog:etterem_create' %}">+ Új étterem</a></p>
{% endif %}

<table>
  <tr><th>Név</th><th>Platform</th><th>Műveletek</th></tr>
  {% for o in object_list %}
    <tr>
      <td><a href="{% url 'catalog:etterem_detail' o.pk %}">{{ o.nev }}</a></td>
      <td>{{ o.get_platform_display }}</td>
      <td>
        {% if user.is_authenticated and user.is_staff %}
          <a href="{% url 'catalog:etterem_update' o.pk %}">Szerk.</a> |
          <a href="{% url 'catalog:etterem_delete' o.pk %}">Törlés</a>
        {% endif %}
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="3">Nincs adat.</td></tr>
  {% endfor %}
</table>
{% endblock %}
